body{
    font-family: Arial;
    background-color: #F0F2F5;
    box-sizing: border-box;

    
}
.logo{
    width: 240px;
    margin-bottom: -233px;
    margin-left:65px;
}
.sp{
    margin-bottom: 0px;
    margin-left: 10px;
    text-indent: 5px;
}
.fp{
    margin-top: 5px;
    margin-left: 10px;
    text-indent: 5px;
    color: grey;
}
.mpera{
    font-weight: normal;
    font-size: 28px;
    width: 500px;
    font-family: Helvetica, sans-serif;
    margin-top: 250px;
    /* margin-bottom: -233px; */
    margin-left:65px;
    
}
.container{
    background-color: white;
    margin-right: -100px;
    width: 390px;
    height: 300px;
    /* outline: none; */
    /* float: right; */

}
#fname{
    height: 28px;
    width: 180px;
    border-radius: 4px;
    background-color: #F5F6F7;
    /* outline: none; */
}
#sname{
    height: 28px;
    width: 180px;
    border-radius: 4px;
    background-color: #F5F6F7;
}
#mob{
    width: 90%;
    height: 28px;
    border-radius: 4px;
    background-color: #F5F6F7;
}
#pass{
    width: 90%;
    height: 28px;
    border-radius: 4px;
    background-color: #F5F6F7;
}
#dob{
    font-size: 13px;
    color: rgb(107, 107, 107);
}
#date{
    width: 111px;
    height: 25px;
    font-size: 15px;
    border-radius: 4px;
    background-color: white;
}
#mont{
    width: 111px;
    height: 25px;
    font-size: 15px;
    border-radius: 4px;
    background-color: white;
}
#year{
    width: 111px;
    height: 25px;
    font-size: 15px;
    border-radius: 4px;
    background-color: white;
}
#gend{
    font-size: 13px;
    color: rgb(107, 107, 107); 
    /* border: 1px solid #ccd0d5; */

}
#sex{
    margin-left: 24px;
    margin-bottom: 0px;
}
#sex1{
    margin-left: 35px;
    margin-bottom: 0px;
}
#sex2{
    margin-left: 24px;
    margin-bottom: 0px;
}
.sup{
    background-color: #00A400;
    text-align: center;
    width: 190px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 150px;
}
.textbox{
    margin-top: -30px;
    margin-left: 15px;
    font-size: 14px;
}
.gender{
    border: 1px solid rgb(107, 107, 107);;
    border-radius: 4px;
    background-color: white;
    padding: 6px;
}
input::-webkit-input-placeholder {
    font-size: 15px;
    color: grey;
    line-height: 3;
}
.facbook{
    float: right;
    background-color: white; height: 520px;
    margin-top: -240px;

}
.signup{
    margin-right: -25px;
    margin-left: 15px;
    /* outline: none; */
}
footer {
    height: 25vh;
    background-color: #ffffff;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.col-logo {
    flex: 0 0 50%;
    text-align: left;
}

.col-form {
    flex: 0 0 40%;
    text-align: center;
}

.col-logo img {
    max-width: 300px;
}

.col-logo h2 {
    font: 26px;
    font-weight: 400;
    padding: 0 30px;
    line-height: 32px;
}

.col-form .form-container {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    max-width: 400px;
}

.col-form .form-container input, .col-form .form-container .btn-login {
    width: 100%;
    margin: 5px 0;
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
}

.col-form .form-container input {
    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 0 8px;
    outline: none;
}

.col-form .form-container input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.col-form .form-container .btn-login {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
}

.col-form .form-container a {
    display: block;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 20px;
    border-bottom: 1px solid #dadde1;
}

.col-form .form-container a:hover {
    text-decoration: underline;
}

.col-form .form-container .btn-new {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
}

.col-form p {
    font-size: 14px;
}

.col-form p a {
    text-decoration: none;
    color: #1c1e21;
    font-weight: 600;
}

.col-form p a:hover {
    text-decoration: underline;
}

.footer-contents {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 390px;
}

footer ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
    line-height: 20px;
}

footer ol:first-child {
    border-bottom: 1px solid #dddfe2;
}

footer ol:first-child li:last-child button {
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    outline: none;
    color: #4b4f56;
    padding: 0 8px;
    font-weight: 700;
    font-size: 16px;
}

footer ol li {
    padding-right: 15px;
    font-size: 12px;
    color: grey;
}

footer ol li a {
    text-decoration: none;
    color: grey;
}

footer ol li a:hover {
    text-decoration: underline;
}

footer small {
    font-size: 11px;
    color: grey;
}
